@media (max-width: 1024px) {

    .center {
        padding-left: calc(50% - 786px/2);
        padding-right: calc(50% - 786px/2);
    }

    .game-info {
        background-position: calc(100% + 120px) 72px, 25px 650px;

        &__game-list {
            gap: 24px;
        }
    }

    .mini-game {
        min-height: 400px;
        grid-column: span 6;

        &__content {
            padding: 24px;
        }

        &__name {
            font-size: 28px;
            line-height: 34px;
        }
    }

    .game-box {
        padding-bottom: 60px;
        background-position: calc(100% - 30px) 105px, calc(100% - 5px) 3010px;
    }

    .game-card {
        height: 450px;

        &__title {
            font-size: 36px;
            line-height: 44px;
            padding-bottom: 18px;
        }

        &__desc {
            font-size: 20px;
            line-height: 28px;
            padding-bottom: 28px;
        }
    }
}

@media (max-width: 833px) {

    .center {
        padding-left: 24px;
        padding-right: 24px;
    }

    .game-info {
        background-image: none;
        padding-bottom: 30px;

        &__game-list {
            padding-top: 40px;
            grid-template-columns: repeat(2, 1fr);
            gap: 24px;
        }
    }

    .mini-game {
        min-height: 400px;
        grid-column: span 1;

        &__content {
            padding: 20px;
        }

        &__name {
            font-size: 28px;
            line-height: 34px;
        }
    }

    .game-box {
        background-image: none;
    }

    .game-card {
        flex-direction: column;
        height: auto;

        &_left {
            flex-direction: column;
        }

        &__content {
            padding: 32px;
            order: 2;
        }

        &__title {
            max-width: 100%;
        }

        &__image {
            height: 300px;
            order: 1;
        }

    }

    .game-card__content,
    .game-card__image {
        flex: 0 0 100%;
    }
}